.product{
    /* border: 5px solid green; */
    background-color: white;


}
.product img{
    height: 300px;
    width: 300px;
    margin-left: 13px;
}
.product-name,.product-price{
    margin-left: 13px;
}
.btn-cart{
    width: 100%;
    border: none;
    color: rgb(63, 63, 168);
    background-color: white;
}
.icon{
    margin-left: 5px;
}
.btn-cart:hover{
    background-color: rgb(202, 244, 230);
    
}