.product{
    border-radius: 10px;
    background-color: white;
}
.product img{
    height: 300px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.product-name,.product-price{
    margin-left: 13px;
}
.btn-cart{
    width: 100%;
    border: none;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    background-color: white;
    text-align: left;
    padding-left: 13px;
    color:royalblue; 
}
.icon{
    margin-left: 5px;
}
.btn-cart:hover{
    background-color: rgb(163, 173, 181);
}